*,body{
  margin:0;
  padding:0;
}
ul li{
  text-align: center;
  cursor:pointer;
 
}
.backImg{
  background-image:linear-gradient(rgba(8, 0, 58, 0.74),rgba(8, 0, 58, 0.685)), url(./images/back.jpg);
   background-size:cover;
 background-position:center;
height:90vh}
.srchInput{
  transition:all 2s ease;
}
@media (max-width: 576px) {
  .absolute-sm {
    position: absolute;
  }
  ul{
    width:100px;
    top:40px;
  }
  ul li{
    border:1px solid rgb(107, 105, 105)
  }
}
